name: Tests-optimized

on:
  workflow_dispatch:
  pull_request:
    branches:
      - 'main'
  push:
    branches:
      - 'main'
      - 'release-**'
      - 'feat-**'
      - 'hotfix-**'
      - 'bugfix-**'
      - 'fix-**'
jobs:
  prepare:
    name: "Integration Tests"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven
      - name: tests
        run: mvn verify -Pintegration-test